@page "/customerdetails/{id}"
@page "/customerdetails/"
@inherits CustomerDetailsBase

@if (Customer == null)// || Customer.Store == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Customer.FirstName @Customer.LastName @Coordinates</h1>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="@Customer.Image"
                         @onmousemove="@(e => Coordinates = $"X1 = {e.ClientX} Y = {e.ClientY}")" /> <!-- @onmousemove="@Mouse_Move"/>-->

                    <h4>Employee ID : @Customer.CustomerID</h4>
                    <h4>Email : @Customer.Email</h4>
                    <h4>Store : @(Customer.Store == null ? "N/A" : Customer.Store.StoreName)</h4>
                </div>

                <button class="btn btn-primary" @onclick="@Button_Click">@ButtonText</button>

                <div class="card-footer text-center @CssClass">
                    <a href="/" class="btn btn-primary">Back</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
             </div>
        </div>
    </div>
}